<!dOCTYPE html>

<html lang="en">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'style.css')}}">
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename = 'font-awesome/css/font-awesome.min.css')}}">
    <title>Ajay Movies</title>
</head>

<body class="loginbody">
<div class="login-page">
  <div class="form">

    <form class="login-form" method="POST">
        </br>
        </br>
        <input type="text" name="username" placeholder="username">
        <input type="password" name="password" placeholder="password">
        <button type = "submit" value="login">login</button>
      <p class="message">Not registered? <a href="/reg">Create an account</a></p>

    </form>

</div>
</div>
</body>

</html>


